<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japanese Occupation - See Pangasinan</title>
    <link rel="stylesheet" href="../src/static/css/timelineSP.css"> 
</head>
<body>
    <header>
        <span class="logo">See Pangasinan</span>
        <nav>
            <ul>
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Historical Timeline of Pangasinan</h1>
        <hr>
        <section class="period">
            <h2 class="period-title">Japanese Occupation and World War II</h2>
            <div class="event">
                <img src="../src/assets/timeline/1941.jpg" alt="Ancient settlements in Pangasinan" class="event-image">
                <span class="date">December 22, 1941</span>
                <p class="description">Japanese forces invade Pangasinan during World War II.</p>
            </div>
            <div class="event">
                <img src="../src/assets/timeline/January 9-13, 1945.jpg" alt="Ancient settlements in Pangasinan" class="event-image">
                <span class="date">January 9-13, 1945</span>
                <p class="description">Allied Forces land in Lingayen and begin the liberation of Pangasinan.</p>
            </div>
            <div class="event">
                <img src="../src/assets/timeline/February 1945.jpg" alt="Ancient settlements in Pangasinan" class="event-image">
                <span class="date">February 1945</span>
                <p class="description">The provincial government was restored with Sofronio Quimson as governor and Dagupan temporarily as the capital.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>
</body>
</html>
