/*Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styling variables */
:root { 
  --white: #FFFFFF;
  --black: #000000;   
  --light-black: #1A1E18; 
  --aqua: #206E7F;  
  --aqua-transparent: rgba(194, 205, 207, 0.8);  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: #333333;
  background-color: #f8f9fa;
  text-align: justify;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 24px;
  color: #333333;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content styling */
.content {
  padding: 40px;
  /* display: flex; */
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 40px;
}

.wrapper {
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 16px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0 22px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 400px;
    list-style: none;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img {
    background: var(--aqua);
    width: 208px;
    height: 208px;
    border-radius: 50%;
}

.card .img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.05rem;
    margin: 30px 0 5px;
}

.details-button {
  display: block;
  width: 30%;
  padding: 10px;
  text-align: center;
  background-color: var(--aqua);
  color: var(--white);
  text-decoration: none; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #333;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 16px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* Footer styling */
footer {
    background-color: var(--aqua-transparent);
    padding: 40px 80px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    text-align: left;
  }
  
  .footer-logo p {
    margin: 5px 0;
    font-size: 18px;
    color: #333333;
    margin-top: 5px;
  }

  span {
    font-weight: bold;
    font-size: 18px;
  }
  
  .footer-contacts a {
    margin: 0 10px;
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    transition: transform 0.3s ease; 
    padding: 5px;
    align-items: left;
  }
  
  .footer-contacts a:hover {
    transform: scale(1.05); 
  }
  
  .footer-contacts p {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .footer-bottom {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #333333;
  }

  hr {
    border: none;
    height: 2px;
    background-color: #555;
    margin: 20px 0;
}
