/*Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styling variables */
:root { 
  --white: #FFFFFF;
  --black: #000000;   
  --light-black: #1A1E18; 
  --aqua: #206E7F;  
  --aqua-transparent: rgba(194, 205, 207, 0.8);  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: #333333;
  background-color: #f8f9fa;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 24px;
  color: #333333;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content styling */
.timeline-wrapper {
  position: relative;
  max-width: 115vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.timeline-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline {
  position: absolute;
  height: 0.12rem;
  padding: 0 4rem;
  background-color: #888;
  list-style-type: none;
  --scale: 1;
  display: flex;
}

.timeline li {
  position: relative;
  width: 20rem;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  transition: 0.5s ease;
}

.timeline li::before {
  content: "";
  top: 1rem;
  display: inline-block;
  width: 0.12rem;
  height: 1rem;
  background-color: #888;
}

.timeline li:nth-child(even)::before {
  top: -1rem;
}

.timeline li:hover::before {
  background-color: var(--aqua);
}

.timeline li::after {
  content: attr(data-date);
  top: -3.4rem;
}

.timeline li:nth-child(odd)::after {
  top: 3.4rem;
}

.timeline li:hover::after,
.timeline li .title {
  color: var(--aqua);
}

.timeline li .title {
  top: 2.4rem;
  font: 600 1.1rem 'Poppins', sans-serif;
  white-space: pre;
  opacity: 0;
}

.timeline li:nth-child(odd) > .title {
  top: -2.4rem;
}

.timeline li:hover .title {
  opacity: 1;
}

.data {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #888;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  transition: 0.3s ease;
}

.timeline li:hover .data {
  background-color: var(--aqua);
  --scale: 1.2;
  cursor: pointer;
  z-index: 200;
}

.data.show {
  width: 22rem;
  height: 25rem;
  border-radius: 1rem;
  padding: 1rem;
  background-image: var(--aqua);
  box-shadow: 0 0.1rem 0.4rem #0004;
  z-index: 100;
}

.data h3 {
  text-transform: capitalize;
  color: transparent;
}

.data.show h3 {
  text-transform: capitalize;
  color: var(--white);
}

.data a {
  padding: 0.2rem;
  margin-left: 0.7rem;
  color: var(--black);
  text-decoration: none;
}

.data.show a {
  margin-left: 0;
}

.data img {
  padding: 0.2rem;
  margin-left: 0.7rem;
  display: flex;
  max-width: 100%;
  width: 400px;  
  height: 400px; 
  object-fit: cover;  
}

.data.show img {
  margin-left: 0;
}

.data .close {
  align-self: flex-start;
  background-color: var(--white);
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #888;
  font-family: 'Poppins', sans-serif;
}

.close:hover {
  background-color: #f1f1f1;
  transform: scale(1.1);
}

.timeline a {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.timeline a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: var(--aqua-transparent);
  padding: 40px 80px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  text-align: left;
}

.footer-logo p {
  margin: 5px 0;
  font-size: 18px;
  color: #333333;
  margin-top: 5px;
}

span {
  font-weight: bold;
  font-size: 18px;
}

.footer-contacts a {
  margin: 0 10px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  transition: transform 0.3s ease; 
  padding: 5px;
  align-items: left;
}

.footer-contacts a:hover {
  transform: scale(1.05); 
}

.footer-contacts p {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-bottom {
  text-align: right;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
  color: #333333;
}

hr {
  border: none;
  height: 2px;
  background-color: #555;
  margin: 20px 0;
}
