<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/about.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <h1>See Pangasinan</h1> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        <div class="text-section">
            <h1>Name Etymology</h1>
            <p>The name for Pangasinan was coined through the word “panag asinan,” which was further derived from the prefix “pang-,” which has the same use as the word “for,” and the root word “asin” meaning “salt.” With this, the name “Pangasinan” essentially means “place of salt” or “place of salt-making.”</p>
            <img src="../src/assets/icons/about.jpg" alt="Overview Image">
        </div>
        <div class="image-section">
            <img src="../src/assets/icons/ilyp-logo.png" alt="I Love Pangasinan">
            <h1>Overview</h1>
            <p>Pangasinan, located in western Luzon, is a vibrant province known for its rich cultural heritage and scenic landscapes, home to over 3 million residents. Its economy thrives on agriculture, particularly rice, corn, and fish farming, with tourism also playing a significant role thanks to attractions like the Hundred Islands National Park and Bolinao Falls. The provincial capital, Lingayen, and cities like Dagupan serve as hubs of commerce and culture. Infrastructure development has improved connectivity and quality of life, with advancements in education, healthcare, and recreation. Culturally, Pangasinan celebrates its diverse traditions through festivals like the Bangus Festival and Pistay Dayat, showcasing the province's vibrant spirit.</p>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <script src="../src/static/js/about.js"></script>
</body>
</html>