<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BY DISTRICT > DISTRICT 3 > BAYAMBANG</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link your CSS file here -->
</head>

<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>BY DISTRICT > DISTRICT 3 > BAYAMBANG</h1>

        <section id="third-district">
            <section id="bayambang">
                <div class="map-container" id="map-bayambang">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.4180193932883!2d120.43885431474078!3d15.799724089053143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3390a2b5a50ce3f5%3A0xc5d26925083b9949!2sBayambang%2C%20Pangasinan!5e0!3m2!1sen!2sph!4v1626158139510!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="description">
                        <h3>Bayambang</h3>
                        <p>Bayambang was once a much larger town encompassing other municipalities like Bautista, Alcala, Sto. Tomas, and Rosales. It was founded in the 16th Century by an Aeta known as Agalet. Legend has it that the town's name originated from a part of a plant called "Balangbang".</p>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <!-- Optional: JavaScript files -->
    <script src="script.js"></script>
</body>

</html>
