<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/districts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 
    
<body>
    <header>
        <h1>See Pangasinan</h1> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>BY DISTRICT -> DISTRICT 1</h1>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Agno.jpg" alt="Agno-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Agno</h2>
                <a href="../templates/agno.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Alaminos City.jpg" alt="Alaminos-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Alaminos City</h2>
                <a href="../templates/alaminos.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Anda.jpg" alt="Anda-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Anda</h2>
                <a href="../templates/anda.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Bani.jpg" alt="Bani-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Bani</h2>
                <a href="../templates/bani.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Bolinao.jpg" alt="Bolinao-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Bolinao</h2>
                <a href="../templates/bolinao.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Burgos.jpg" alt="Burgos-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Burgos</h2>
                <a href="../templates/burgos.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Dasol.jpg" alt="Dasol-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Dasol</h2>
                <a href="../templates/dasol.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Infanta.jpg" alt="Infanta-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Infanta</h2>
                <a href="../templates/infanta.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Mabini.jpg" alt="Mabini-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Mabini</h2>
                <a href="../templates/mabini.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district1/Sual.jpg" alt="Sual-District 1">
            </div>
            <div class="card-content">
                <h2 class="card-title">Agno</h2>
                <a href="../templates/sual.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    
    <script src="../src/static/js/map1.js"></script>
</body>
</html>