<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/map1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <h1>See Pangasinan</h1> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>BY DISTRICT -> DISTRICT 6</h1>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Asingan.jpg" alt="Asingan-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Asingan</h2>
                <a href="../templates/asingan.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Balungao.jpg" alt="Balungao-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Balungao</h2>
                <a href="../templates/balungao.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Natividad.jpg" alt="Natividad-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Natividad</h2>
                <a href="../templates/natividad.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Rosales.jpg" alt="Rosales-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Rosales</h2>
                <a href="../templates/rosales.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/San Manuel.jpg" alt="SanManuel-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">San Manuel</h2>
                <a href="../templates/sanmanuel.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/San Nicolas.jpg" alt="SanNicolas-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">San Nicolas</h2>
                <a href="../templates/sannicolas.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/San Quintin.jpg" alt="SanQuintin-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">San Quintin</h2>
                <a href="../templates/sanquintin.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Sta Maria.jpg" alt="StaMaria-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Sta. Maria</h2>
                <a href="../templates/stamaria.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Tayug.jpg" alt="Tayug-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Tayug</h2>
                <a href="../templates/tayug.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district6/Umingan.jpg" alt="Umingan-District 6">
            </div>
            <div class="card-content">
                <h2 class="card-title">Umingan</h2>
                <a href="../templates/umingan.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    
    <script src="../src/static/js/map1.js"></script>
</body>
</html>