<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/districts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 
    
<body>
    <header>
        <span class="logo">See Pangasinan</span> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>BY DISTRICT > DISTRICT 5</h1>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Alcala.jpg" alt="Alcala-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Alcala</h2>
                <a href="../templates/alcala.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Bautista.jpg" alt="Bautista-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Baustista</h2>
                <a href="../templates/bautista.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Binalonan.jpg" alt="Binalonan-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Anda</h2>
                <a href="../templates/binalonan.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Laoac.jpg" alt="Laoac-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Laoac</h2>
                <a href="../templates/laoac.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Pozorrubio.jpg" alt="Pozorrubio-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Pozorrubio</h2>
                <a href="../templates/pozzorubio.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Sison.jpg" alt="Sison-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Sison</h2>
                <a href="../templates/sison.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Sto. Tomas.jpg" alt="StoTomas-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Sta. Tomas</h2>
                <a href="../templates/stotomas.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Urdaneta.jpg" alt="Urdaneta-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Urdaneta</h2>
                <a href="../templates/urdaneta.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district5/Villasis.jpg" alt="Villasis-District 5">
            </div>
            <div class="card-content">
                <h2 class="card-title">Villasis</h2>
                <a href="../templates/villasis.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    
    <script src="../src/static/js/map1.js"></script>
</body>
</html>