<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/districts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 
    
<body>
    <header>
        <h1>See Pangasinan</h1> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>BY DISTRICT -> DISTRICT 4</h1>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district4/Dagupan.jpg" alt="Dagupan-District 4">
            </div>
            <div class="card-content">
                <h2 class="card-title">Dagupan</h2>
                <a href="../templates/dagupan.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district4/Manaoag.jpg" alt="Manaoag-District 4">
            </div>
            <div class="card-content">
                <h2 class="card-title">Manaoag</h2>
                <a href="../templates/manaoag.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district4/Mangaldan.jpg" alt="Mangaldan-District 4">
            </div>
            <div class="card-content">
                <h2 class="card-title">Mangaldan</h2>
                <a href="../templates/mangaldan.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district4/San Fabian.jpg" alt="SanFabian-District 4">
            </div>
            <div class="card-content">
                <h2 class="card-title">San Fabian</h2>
                <a href="../templates/sanfabian.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district4/San Jacinto.jpg" alt="SanJacinto-District 4">
            </div>
            <div class="card-content">
                <h2 class="card-title">San Jacinto</h2>
                <a href="../templates/sanjacinto.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    
    <script src="../src/static/js/map1.js"></script>
</body>
</html>