<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/districts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 
    
<body>
    <header>
        <span class="logo">See Pangasinan</span> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>BY DISTRICT > DISTRICT 2</h1>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Aguilar.jpg" alt="Aguilar-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Aguilar</h2>
                <a href="../templates/aguilar.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Basista.jpg" alt="Basista-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Basista</h2>
                <a href="../templates/basista.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Binmaley.jpg" alt="Binmaley 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Binmaley</h2>
                <a href="../templates/binmaley.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Bugallon.jpg" alt="Bugallon 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Bugallon</h2>
                <a href="../templates/bugallon.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Labrador.jpg" alt="Labrador-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Labrador</h2>
                <a href="../templates/labrador.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Lingayen.jpg" alt="Lingayen-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Lingayen</h2>
                <a href="../templates/lingayen.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Mangatarem.jpg" alt="Mangatarem-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Mangatarem</h2>
                <a href="../templates/mangatarem.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../src/assets/district2/Urbiztondo.jpg" alt="Urbiztondo-District 2">
            </div>
            <div class="card-content">
                <h2 class="card-title">Urbiztondo</h2>
                <a href="../templates/urbiztondo.html"><p class="details-txt">Read More</p></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    
    <script src="../src/static/js/map1.js"></script>
</body>
</html>