<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/figures.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <span class="logo">See Pangasinan</span>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Figures of Pangasinan</h1>
        <div class="figures-grid">
            <div class="figure-card">
                <img src="../src/assets/figures/juan_tamad1.jpg" alt="Juan Tamad">
                <div class="figure-info">
                    <p>Juan Tamad</p>
                    <a href="../templates/figuresSP.html#figure1" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/angela1.jpg" alt="Angela “Angel” Perez Baraquio">
                <div class="figure-info">
                    <p>Angela “Angel” Perez Baraquio</p>
                    <a href="../templates/figuresSP.html#figure2" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/rogelio1.jpg" alt="Rogelio Sicat">
                <div class="figure-info">
                    <p>Rogelio Sicat</p>
                    <a href="../templates/figuresSP.html#figure3" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/victorio1.jpg" alt="Victorio Edades">
                <div class="figure-info">
                    <p>Victorio Edades</p>
                    <a href="../templates/figuresSP.html#figure4" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/oscar1.jpg" alt="Oscar Cruz">
                <div class="figure-info">
                    <p>Oscar Cruz</p>
                    <a href="../templates/figuresSP.html#figure5" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/socrates1.jpg" alt="Dagupan Archbishop Emeritus Socrates Villegas">
                <div class="figure-info">
                    <p>Dagupan Archbishop Emeritus Socrates Villegas</p>
                    <a href="../templates/figuresSP.html#figure6" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/juandelacruz1.jpg" alt="Juan dela Cruz Palaris">
                <div class="figure-info">
                    <p>Juan dela Cruz Palaris</p>
                    <a href="../templates/figuresSP.html#figure7" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/corazon1.jpg" alt="Corazon “Cory” Cojuangco Aquino">
                <div class="figure-info">
                    <p>Corazon “Cory” Cojuangco Aquino</p>
                    <a href="../templates/figuresSP.html#figure8" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/fidel1.jpg" alt="Fidel V. Ramos">
                <div class="figure-info">
                    <p>Fidel V. Ramos</p>
                    <a href="../templates/figuresSP.html#figure9" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="figure-card">
                <img src="../src/assets/figures/urduja1.jpg" alt="Urduja">
                <div class="figure-info">
                    <p>Urduja</p>
                    <a href="../templates/figuresSP.html#figure10" class="arrow-link"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <script src="../src/static/js/figures.js"></script>
</body>
</html>