<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/heritage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h2>Cultural Heritage</h2>
        <div class="accordion">
            <div class="accordion-item">
                <h3>Livelihood of the People in Pangasinan <span>&#x25B2;</span></h3>
                <p>Farm and marine products were often exported to Hong Kong during the 19th Century, some of these ports they utilized were the Bolinao Harbor and Dasol Bay, the area had an abundance of marine life in particular at the time. 
                    The location was known for bangus, bagoong, tilapia, oysters, and last but not least, shrimps. However, it was often under the threat of overfishing (including dynamite and cyanide in the waters), especially in Lingayen Bay.

                    In terms of agriculture, rivers like the Agno River from Mount Data of Cordillera are what primarily supply the plants for them to be fertile, though Rice was their primary form of crop, other crops like Tobacco, Corn, Tomatoes, Onions, Watermelons, and Cantaloupes were also part of their crop catalog. 
                    For context, Rice Cakes were significant to their livelihood (Tupig, Calasiao Puto, etc.), often given as “pasalubong”.
                </p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Political System <span>&#x25BC;</span></h3>
                <p>In pre-colonial times, there were three classes, the Pangolo (elite class), the Timaua (the freeborn), and the Aripuen (the slave(s)). 
                    However, the Anacbanua (the native elite class) helped friars convert followers and later on served the Spaniards.

                    During and post-colonial times, the wealthy Ilocano migrants became the elite of politics (these include Valentin Diaz, Governor Isabelo Artacho, Sen. Pedro Maria Sison, Chief Justice Manuel Moran, and Senator Geronima Pecson (first lady/woman).
                </p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Culture, Customs, and Traditions <span>&#x25BC;</span></h3>
                <p>Marriage negotiations include albahiyas (the intermediaries), as well as the dasel (the bride price), while their traditional marriage format includes the seguep (asking for a woman’s hand) and feasting. 
                    Additionally, divorce was easily exercised (having the bride price even stay with the parents of the bride at the time).

                    When doing burials or funerals, aside from material possessions being buried with the dead (for afterlife purposes), their mourning process included some restrictions in feasting, diets, and clothing.
                </p>
            </div>
        </div>
        <hr>
        <h2>Local Legends and Myths</h2>
        <div class="local-legends">
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/aniani.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Aniani</h3>
                    <p>Aniani is the Pangasinense word for ghost, representing the spirits of the dead who may linger in the world of the living.</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <script src="../src/static/js/heritage.js"></script>
</body>
</html>