<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/heritage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h2>Cultural Heritage</h2>
        <div class="accordion">
            <div class="accordion-item">
                <h3>Livelihood of the People in Pangasinan <span>&#x25B2;</span></h3>
                <p>Farm and marine products were often exported to Hong Kong during the 19th Century, some of these ports they utilized were the Bolinao Harbor and Dasol Bay, the area had an abundance of marine life in particular at the time. 
                    The location was known for bangus, bagoong, tilapia, oysters, and last but not least, shrimps. However, it was often under the threat of overfishing (including dynamite and cyanide in the waters), especially in Lingayen Bay.

                    In terms of agriculture, rivers like the Agno River from Mount Data of Cordillera are what primarily supply the plants for them to be fertile, though Rice was their primary form of crop, other crops like Tobacco, Corn, Tomatoes, Onions, Watermelons, and Cantaloupes were also part of their crop catalog. 
                    For context, Rice Cakes were significant to their livelihood (Tupig, Calasiao Puto, etc.), often given as “pasalubong”.
                </p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Political System <span>&#x25BC;</span></h3>
                <p>In pre-colonial times, there were three classes, the Pangolo (elite class), the Timaua (the freeborn), and the Aripuen (the slave(s)). 
                    However, the Anacbanua (the native elite class) helped friars convert followers and later on served the Spaniards.

                    During and post-colonial times, the wealthy Ilocano migrants became the elite of politics (these include Valentin Diaz, Governor Isabelo Artacho, Sen. Pedro Maria Sison, Chief Justice Manuel Moran, and Senator Geronima Pecson (first lady/woman).
                </p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Culture, Customs, and Traditions <span>&#x25BC;</span></h3>
                <p>Marriage negotiations include albahiyas (the intermediaries), as well as the dasel (the bride price), while their traditional marriage format includes the seguep (asking for a woman’s hand) and feasting. 
                    Additionally, divorce was easily exercised (having the bride price even stay with the parents of the bride at the time).

                    When doing burials or funerals, aside from material possessions being buried with the dead (for afterlife purposes), their mourning process included some restrictions in feasting, diets, and clothing.
                </p>
            </div>
        </div>
        <hr>
        <h2>Local Legends and Myths</h2>
        <div class="local-legends">
            <h3 class="title">Deities</h3>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/ama-gaolay.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Ama-Gaolay</h3>
                    <p>Ama-Gaolay, often simply referred to as Ama, is the supreme deity in Pangasinan mythology. He is the creator of mankind and the ruler of all other gods. 
                        Ama-Gaolay resides in an aerial abode from which he can see everything. He is the father of Agueo, the sun god, and Bulan, the moon god.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/agueo.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Agueo</h3>
                    <p>Agueo is the morose and taciturn sun god, known for his obedience to his father, Ama. 
                        He lives in a palace of light and dutifully provides daylight to the world, traveling across the sky each day.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/bulan.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Bulan</h3>
                    <p>Bulan is the merry and mischievous moon god. His dim palace is the source of the stars, created from the fragments of his shattered palace. Bulan's light guides thieves, reflecting his mischievous nature. 
                        He was separated from his brother Agueo after a quarrel, leading to his dimmed palace becoming the stars.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/apolaki.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Apolaqui</h3>
                    <p>Apolaqui, also known as Apolaki, is the god of war in Pangasinan mythology. 
                        Over time, his name was adopted by Christian converts to refer to their deity, blending native beliefs with new religious practices.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/anagolay.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Anagolay</h3>
                    <p>Anagolay is an idol worshipped by the Pangasinense people. 
                        They offered oils, unguents, and other aromatic objects to Anagolay, and, if needed, sacrificed slaves or pigs in its honor.
                    </p>
                </div>
            </div>

            <h3 class="title">Folkloric Beings</h3>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/maganito.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Maganito</h3>
                    <p>The term Maganito refers to the priests in early Pangasinan society who performed rituals and ceremonies to communicate with the deities and spirits.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/aniani.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Aniani</h3>
                    <p>Aniani is the Pangasinense word for ghost, representing the spirits of the dead who may linger in the world of the living.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/bambanigandpugot.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Bambanig and Pugot</h3>
                    <p>These tree deities are akin to the Tagalog Kapre. They are large, supernatural beings that dwell in trees and are believed to guard them.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/baras.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Baras</h3>
                    <p>The Baras is a forest-dwelling demon known for stealing women. This malevolent being preys on unsuspecting individuals in the dense forests of Pangasinan.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/bantay.png" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Bantay</h3>
                    <p>Bantay is depicted as an old man living in a large tree. He can transform into a great big white rooster, changing size mysteriously. 
                        Bantay is visible during a new moon, at night, or when there is a light shower.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <script src="../src/static/js/heritage.js"></script>
</body>
</html>