<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/heritage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <header>
        <span class="logo">See Pangasinan</span>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h2>Cultural Heritage</h2>
        <div class="accordion">
            <div class="accordion-item">
                <h3>Livelihood of the People in Pangasinan <span>&#x25B2;</span></h3>
                <p>Farm and marine products were often exported to Hong Kong during the 19th Century, some of these ports they utilized were the Bolinao Harbor and Dasol Bay, the area had an abundance of marine life in particular at the time. 
                    The location was known for bangus, bagoong, tilapia, oysters, and last but not least, shrimps. However, it was often under the threat of overfishing (including dynamite and cyanide in the waters), especially in Lingayen Bay.

                    In terms of agriculture, rivers like the Agno River from Mount Data of Cordillera are what primarily supply the plants for them to be fertile, though Rice was their primary form of crop, other crops like Tobacco, Corn, Tomatoes, Onions, Watermelons, and Cantaloupes were also part of their crop catalog. 
                    For context, Rice Cakes were significant to their livelihood (Tupig, Calasiao Puto, etc.), often given as “pasalubong”.
                </p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Political System <span>&#x25BC;</span></h3>
                <p>In pre-colonial times, there were three classes, the Pangolo (elite class), the Timaua (the freeborn), and the Aripuen (the slave(s)). 
                    However, the Anacbanua (the native elite class) helped friars convert followers and later on served the Spaniards.

                    During and post-colonial times, the wealthy Ilocano migrants became the elite of politics (these include Valentin Diaz, Governor Isabelo Artacho, Sen. Pedro Maria Sison, Chief Justice Manuel Moran, and Senator Geronima Pecson (first lady/woman).
                </p>
            </div>
            <div class="accordion-item">
                <h3>American Period and Women’s Suffrage <span>&#x25BC;</span></h3>
                <p>Led by Maria Magsano, Eugenio Perez and Jose de Venecia went on as Speakers of The House.</p>
            </div>
            <div class="accordion-item">
                <h3>Modern Politics <span>&#x25BC;</span></h3>
                <p>It currently consists of middle-class participants and traditional elites. Note that the migration of Ilocanos hugely influenced the state of their socio-politics, fearing their primary language decline.</p>
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Culture, Customs, and Traditions <span>&#x25BC;</span></h3>
                <p>Marriage negotiations include albahiyas (the intermediaries), as well as the dasel (the bride price), while their traditional marriage format includes the seguep (asking for a woman’s hand) and feasting. 
                    Additionally, divorce was easily exercised (having the bride price even stay with the parents of the bride at the time).

                    When doing burials or funerals, aside from material possessions being buried with the dead (for afterlife purposes), their mourning process included some restrictions in feasting, diets, and clothing.
                </p>
            </div>
            <div class="accordion-item">
                <h3>Contemporary Family Life <span>&#x25BC;</span></h3>
                <p>There were traces of clannishness and political dynasties at the time as a form of ancient kinship.

                    In having a family, the husband and wife typically share household chores.                    
                </p>
            </div>
            <div class="accordion-item">
                <h3>Religious Beliefs and Practices in Pangasinan <span>&#x25BC;</span></h3>
                <p>This was deeply rooted in animistic roots, the following being: Ama-Gaoley (Apo Laki, a chief deity having a pantheon of lesser spirits (anitos), the god is usually responsible for natural events and human well-being), the Anitos (Spirits that control the weather, plant growth, the maintenance of states of the natural sites and other inanimate entities, offending them will, in turn, affect the offender with an illness as punishment), and the Charms (as well its rituals) (often chanted by the priestess called the manag-anito, who are healers, diviners, or religious leaders).

                    They often also interacted with catholicism, having activities with the Nuestra Senora del Santisimo Rosario de Manaoag (quite a known entity), as well as having groups like the Guardia dde Honor de Maria and the Kapisanan Makabola Makasinag (Millenarian Movements), groups that were against colonial and feudal oppression.                                       
                </p>
            </div>
            <div class="accordion-item">
                <h3>Old Architectures and Community / ies <span>&#x25BC;</span></h3>
                <p>Homes at the time were built with bamboo and/or nipa, typically elevated on stilts, and were often constructed near the coastlines or riverbanks.

                    In the Spanish Colonial Period, the towns mostly were together near the church(es).
                    
                    In the American Colonial Period, Gabaldon-type buildings emerged, and things like Urban planning became a thing in these times.
                </p>                    
            </div>
            <div class="accordion-item">
                <h3>Handicrafts and Arts <span>&#x25BC;</span></h3>
                <p>They often used Bamboos and Rattans as well as Marsh Greens to produce their crafts.</p>                    
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Folk Literatures <span>&#x25BC;</span></h3>
                <p>Diparan (Proverbs), Bonikew (Riddles), Tambayo (Lullabies), Cancionan (Song Jousts), and Tontongs (Stories) emerged.</p>                    
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Folk Songs <span>&#x25BC;</span></h3>
                <p>Their seasonal and life cycle songs were often associated with Christmas, Lent, Fishing, Farming, Courtship, and Weddings.

                    They had the longest Christmas carol in the country, the Aligando with 142 quatrains, traditionally sung in a short form referred to as the Galikin.
                    
                    Holy or divine chants like the Pabasa, the Maria Dayat na Kasantosan, and Pantaotaoag emerged.
                    
                    Life-to-life songs like the Santa Cruz de Mayo, Panagcorona, and Petek (Harana) emerged, often more related to the people themselves.
                </p>                    
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Folk Dances <span>&#x25BC;</span></h3>
                <p>Dancing was integral to undergoing social interactions, especially in forming bonds (or developing social skills).

                    A courtship concerning a love triangle and ending it with harmony (from San Jacinto) is what we call the Imunan.
                    
                    Dancing also requires gracefulness and dexterity, also performed with glasses that are half-filled with water (Binasuan) is another dance that emerged.
                    
                    Another courtship dance, involving glasses of wine or tuba that originate from winemakers (Kumakaret) also emerged.
                    
                    Tanobong is another folk dance that emerged in this culture, mainly associated with grass used for producing brooms the lyrics are likely to be steps of the making process of brooms.
                    
                    Sayaw ed Tapew na Bangko is a dance demonstrated on top of a bench, requiring agility and gracefulness.                    
                </p>                    
            </div>
            <div class="accordion-item">
                <h3>Cancionan in Pangasinan <span>&#x25BC;</span></h3>
                <p>The performance duration of these typically lasted around 3 to 8 hours but was eventually shortened to 1 to 2 hours for stage performances, and then 30 to 45 minutes if we refer to radio performances. Structurally speaking, this consists of 5 parts, a pasantabi (intro), panangarapan (the female grilling the male (figuratively)), the panagkabatan (the male trying to express via courtship), the cupido (the male trying to impress the female with their skills, as well as the balitang (either the female rejects or accepts the male’s proposal).
                    Poetical Fencing is a form of Cancionan that is about a debate in verse as well as in music, usually between a man and a woman, having the verses set to known tunes.                                        
                </p>                    
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Sarsuwela <span>&#x25BC;</span></h3>
                <p>The Father of Pangasinan Sarsuwela, Catalino Palisoc, wrote the piece, “Say Liman Ag Naketket, Pampinsioan” back in 1901, which was massively influenced by Jose Rizal’s anti-friar tone.

                    The themes addressed by Palisoc and Pablo Mejia were in their plays (specifically the following: Colonial Mentality, Women’s Suffrage, and Political Corruption).
                    
                    Sarsuwelas declined due to the rise of movies or films at the time, as the decline occurred, it eventually lost its didactic characteristics and they now focused more on love themes. These performances often include various features like the Cancionan, Comedy Skits, as well as Acrobatics to keep itself relevant and be able to compete with other forms of entertainment.                                                            
                </p>                    
            </div>
            <div class="accordion-item">
                <h3>Pangasinan Theater Groups <span>&#x25BC;</span></h3>
                <p>The Pangasinan Cenaculo (The Tanton Dramatic Guild) was organized by Leocadio Villanueva, primarily known for sinakulo plays, and it was performed in various locations around the area (or the country).

                    The Kankanti Ensemble was founded by Ricardo “Rex” Catubig during the 1970s, this group focuses particularly on Pangasinan Folk Literature as well as rituals by utilizing newer techniques.
                    
                    The Ala-Uli Theater Group was also organized by Catubig, this group focuses or explores particularly on the themes made from Pangasinan Folklore.
                    
                    The Tambayo Cultural Group was made or established by Perla Samson-Nelmida during the 1980s, specifically established in the Pangasinan State University, this is known for performing their folk songs as well as presenting or reenacting their religious practices.
                    
                    The Caboloan Performing Arts Guild was originally called Teatro Magyaga, the OFFICIAL cultural group of the Pangasinan State University, the Lingayen Campus, this group showcases their culture with the use of music, theater, literature, as well as by dancing (For additional context, they hosted a benefit concer for the victims of Typhoon Agaton back a decade ago (2014)).                                                                                
                </p>                    
            </div>
        </div>

        <hr>

        <h2>Local Legends and Myths</h2>
        <div class="local-legends">
            <h3 class="title">Deities</h3>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/ama-gaolay.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Ama-Gaolay</h3>
                    <p>Ama-Gaolay, often simply referred to as Ama, is the supreme deity in Pangasinan mythology. He is the creator of mankind and the ruler of all other gods. 
                        Ama-Gaolay resides in an aerial abode from which he can see everything. He is the father of Agueo, the sun god, and Bulan, the moon god.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/agueo.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Agueo</h3>
                    <p>Agueo is the morose and taciturn sun god, known for his obedience to his father, Ama. 
                        He lives in a palace of light and dutifully provides daylight to the world, traveling across the sky each day.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/bulan.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Bulan</h3>
                    <p>Bulan is the merry and mischievous moon god. His dim palace is the source of the stars, created from the fragments of his shattered palace. Bulan's light guides thieves, reflecting his mischievous nature. 
                        He was separated from his brother Agueo after a quarrel, leading to his dimmed palace becoming the stars.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/apolaki.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Apolaqui</h3>
                    <p>Apolaqui, also known as Apolaki, is the god of war in Pangasinan mythology. 
                        Over time, his name was adopted by Christian converts to refer to their deity, blending native beliefs with new religious practices.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings2/anagolay.jpg" alt="Deities Image">
                <div class="legend-text">
                    <h3>Anagolay</h3>
                    <p>Anagolay is an idol worshipped by the Pangasinense people. 
                        They offered oils, unguents, and other aromatic objects to Anagolay, and, if needed, sacrificed slaves or pigs in its honor.
                    </p>
                </div>
            </div>

            <h3 class="title">Folkloric Beings</h3>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/maganito.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Maganito</h3>
                    <p>The term Maganito refers to the priests in early Pangasinan society who performed rituals and ceremonies to communicate with the deities and spirits.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/aniani.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Aniani</h3>
                    <p>Aniani is the Pangasinense word for ghost, representing the spirits of the dead who may linger in the world of the living.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/bambanigandpugot.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Bambanig and Pugot</h3>
                    <p>These tree deities are akin to the Tagalog Kapre. They are large, supernatural beings that dwell in trees and are believed to guard them.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/baras.jpg" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Baras</h3>
                    <p>The Baras is a forest-dwelling demon known for stealing women. This malevolent being preys on unsuspecting individuals in the dense forests of Pangasinan.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/folkloricBeings1/bantay.png" alt="Folkloric Beings Image">
                <div class="legend-text">
                    <h3>Bantay</h3>
                    <p>Bantay is depicted as an old man living in a large tree. He can transform into a great big white rooster, changing size mysteriously. 
                        Bantay is visible during a new moon, at night, or when there is a light shower.
                    </p>
                </div>
            </div>

            <h3 class="title">Notable Legends and Myths</h3>
            <div class="legend-content">
                <img src="../src/assets/legends&myths/princessurduja.jpeg" alt="Notable Legends and Myths Image">
                <div class="legend-text">
                    <h3>Princess Urduja</h3>
                    <p>Urduja was a legendary warrior princess recorded in the travel accounts of Ibn Battuta in the 14th century. She was described as a princess of Kaylukari in the land of Tawalisi. In the late 19th century, Filipino national hero Jose Rizal speculated that Tawalisi was in the northern Philippines. American historian Austin Craig in 1916 traced Tawalisi and Princess Urduja to Pangasinan. 
                        Today, Urduja is celebrated in Pangasinan, with the governor’s residence named “Urduja House” and a statue of her in Hundred Islands National Park. Her historical existence remains debated.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/legends&myths/thesunthemoonandthestars.jpg" alt="Notable Legends and Myths Image">
                <div class="legend-text">
                    <h3>The Sun, the Moon, and the Stars</h3>
                    <p>This myth tells of Ama, the supreme deity, and his sons Agueo (the sun) and Bulan (the moon). They were tasked with providing light to the world. 
                        However, a quarrel ensued when Bulan, who was merry and mischievous, urged Agueo to hasten their journey to let thieves operate under the cover of darkness. 
                        In anger, Ama hurled a rock that shattered Bulan’s palace, creating the stars from its fragments. Bulan was thereafter separated from Agueo and commanded to light the ways of thieves.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/legends&myths/legendofthehundredislands.jpg" alt="Notable Legends and Myths Image">
                <div class="legend-text">
                    <h3>Legend of Hundred Islands</h3>
                    <p>This legend recounts the story of Rajah Masubeg and his son Datu Mabiskeg, who led a brave force of one hundred warriors to defend their kingdom of Alaminos against invaders. 
                        After a fierce battle at sea, none of the warriors returned, but the enemy was defeated. 
                        The next morning, the townspeople saw a hundred islets where the warriors had fought, believed to be their immortalized forms, watching over their land.
                    </p>
                </div>
            </div>

            <h3 class="title">Witchcraft and Sorcery</h3>
            <div class="legend-content">
                <img src="../src/assets/sorcery/bawanen.jpg" alt="Witchcraft and Sorcerys Image">
                <div class="legend-text">
                    <h3>Bawanen</h3>
                    <p>The bawanen is the Pangasinense term for a witch, who can cast and lift spells. Their craft involves rituals and incantations. 
                        For instance, if a child falls ill due to an evil spell, a bawanen performs a ritual to identify and communicate with the supernatural being responsible.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/sorcery/espiritista.jpg" alt="Witchcraft and Sorcerys Image">
                <div class="legend-text">
                    <h3>Espiritista</h3>
                    <p>An espiritista is a witch who specializes in undoing spells cast by others. They can counteract the effects of curses and hexes, restoring health and well-being to those afflicted.</p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/sorcery/banbano.jpg" alt="Witchcraft and Sorcerys Image">
                <div class="legend-text">
                    <h3>Banbano</h3>
                    <p>Banbano encompasses various aspects of sorcery. It can refer to supernatural ailments, the "evil eye," or "death look" causing illness, especially in children. 
                        The term also refers to the affliction and its caster, known as manangibanbano, who uses saliva to cure the affected child.
                    </p>
                </div>
            </div>
            <div class="legend-content">
                <img src="../src/assets/sorcery/manananem.jpg" alt="Witchcraft and Sorcerys Image">
                <div class="legend-text">
                    <h3>Manananem</h3>
                    <p>Practitioners of black magic, manananem, can inflict mysterious ailments. 
                        An example is a fish vendor who, after refusing a low offer, developed a moving sensation in her stomach, later found to be a live mudfish, indicating a spell cast by a displeased sorcerer
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <script src="../src/static/js/heritage.js"></script>
</body>
</html>