<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <!-- <link rel="stylesheet" type="text/css" href="../src/static/css/home.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <img src="#" alt="Pangasinan">
        <div class="hero-text">
            <h2>See Pangasinan</h2>
            <p>A vibrant province known for its rich history and diverse culture. Nestled in the western part of Luzon, Pangasinan boasts stunning destinations such as the Hundred Islands National Park, the picturesque Bolinao Falls, and the historic Minor Basilica of Our Lady of the Rosary of Manaoag. Pangasinan offers a unique blend of natural beauty and cultural heritage, making it a captivating place to explore.</p>
        </div>
        <div class="arrows">
            <a href="#">&lt;</a>
            <a href="#">&gt;</a>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>
    
    <script src="../src/static/js/home.js"></script>
</body>
</html>