<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/landmarksSP.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body id="landmark1">
    <header>
        <span class="logo">See Pangasinan</span>
        <nav>
            <ul>
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Explore the Cultural Heritage of Pangasinan</h1>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/banaanprovmuseum1.jpg" alt="Banáan Pangasinan Provincial Museum" class="heritage-image">
            <div class="heritage-description">
                <h2>Banáan Pangasinan Provincial Museum</h2>
                <p id="landmark2">The Banáan Pangasinan Provincial Museum, situated in the historic Casa Real in Lingayen, serves as a vital repository of the province’s cultural heritage. The museum features eleven galleries that depict Pangasinan’s history, culture, arts, and innovations. Notably, the Asin Gallery hosts changing exhibits that showcase local artists and significant historical themes.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/josepalmahistoricalmarker1.jpeg" alt="Jose Palma Historical Marker" class="heritage-image">
            <div class="heritage-description">
                <h2>Jose Palma Historical Marker</h2>
                <p id="landmark3">In 1899, Jose Palma wrote the poem “Filipinas” in Bautista, Pangasinan. This poem later became the lyrics of the Philippine national anthem. In 2015, the National Historical Commission of the Philippines (NHCP) recognized this site with a historical marker, which was unveiled in 2017 alongside a statue of Jose Palma.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/gfarmerandcarabaostatue1.jpg" alt="Giant Farmer and Carabao Statue" class="heritage-image">
            <div class="heritage-description">
                <h2>Giant Farmer and Carabao Statue</h2>
                <p id="landmark4">Built in 2006 in front of the town plaza of Bugallon, this monument features giant figures of a farmer and a carabao. Created by the local artist group Anak Pawis, this statue commemorates the town’s agricultural heritage, reminding passersby of the significance of farming in Bugallon’s history.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/metamorphosismonument1.jpg" alt="Metamorphosis Monument" class="heritage-image">
            <div class="heritage-description">
                <h2>Metamorphosis Monument</h2>
                <p>The Metamorphosis Monument in Urdaneta City, unveiled in 2011, is a bronze statue of a carabao, symbolizing the city’s official seal. Sculpted by Ram Mamalio, this artwork features a cascading man-made waterfall and granite backdrop, reflecting Urdaneta’s cultural and historical identity.</p>
                <p id="landmark5"></p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/bantayog-wika1.jpg" alt="Bantayog-Wika ng Pangasinan" class="heritage-image">
            <div class="heritage-description">
                <h2>Bantayog-Wika ng Pangasinan</h2>
                <p id="landmark6">In 2018, the Komisyon sa Wikang Filipino (KWF) launched the Bantayog-Wika project to honor major Philippine languages, including Pangasinan. The language monument, located on Maramba Boulevard, promotes the native language and culture, enhancing linguistic pride among Pangasinenses.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/danielmarambamonument1.jpg" alt="Daniel Maramba Monument" class="heritage-image">
            <div class="heritage-description">
                <h2>Daniel Maramba Monument</h2>
                <p id="landmark7">Don Daniel Bautista Maramba, known as the “Grand Old Man of Pangasinan,” served as the Municipal President of Sta. Barbara and the seventh Governor of Pangasinan. His monument, unveiled in 2007 on Maramba Boulevard, commemorates his contributions to the province, including the construction of the Provincial Capitol Building.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/ASNAmonument1.jpg" alt="ASNA Monument" class="heritage-image">
            <div class="heritage-description">
                <h2>ASNA Monument</h2>
                <p>The ASNA Monument in Lingayen, first unveiled in 2011 and later relocated beside the Veterans Memorial Park, honors outstanding Pangasinenses. Designed by Ernesto V. Elduayan, this monument features fiber resin cubes symbolizing salt, Pangasinan’s main product, and recognizes excellence in various fields such as government, arts, medicine, and education.</p>
                <p id="landmark8"></p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/oliccathedral1.jpg" alt="Our Lady of Immaculate Conception Cathedral" class="heritage-image">
            <div class="heritage-description">
                <h2>Our Lady of Immaculate Conception Cathedral</h2>
                <p id="landmark9">The Our Lady of Immaculate Conception Cathedral in Pangasinan features a bell tower and stained glass windows that illuminate its interior. The well-maintained compound and the central altar with gold pillars enhance its spiritual and architectural beauty.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/bangolcraggs1.jpg" alt="Bangol Craggs" class="heritage-image">
            <div class="heritage-description">
                <h2>Bangol Craggs</h2>
                <p id="landmark10">The Bangol Craggs offer a picturesque view of the sea, making it a popular spot for visitors to watch sunsets and enjoy the natural beauty of Pangasinan’s coastline.</p>
            </div>
        </section>
        <section class="heritage-item">
            <img src="../src/assets/landmarks/st-catherineofalexandriaparishchurch1.jpg" alt="St. Catherine of Alexandria Parish Church" class="heritage-image">
            <div class="heritage-description">
                <h2>St. Catherine of Alexandria Parish Church</h2>
                <p>Constructed in 1834, the St. Catherine of Alexandria Parish Church is one of the oldest churches in Pangasinan. Its facade features an image of St. Catherine, and the interior includes a two-tiered retablo and stained glass windows depicting the life of Jesus Christ. An adjacent convent, built in 1845, adds to its historical significance.</p>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>
</body>
</html>
