<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/mapSP.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 

<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>BY DISTRICT > DISTRICT 4 > MANGALDAN</h1>

        <section id="fourth-district">
            <section id="mangaldan">
                <div class="map-container" id="map-mangaldan">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15513.954707736993!2d120.34507914924836!3d16.07092840374991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33910ef02a8b77c5%3A0xe9da8032d4876f61!2sMangaldan%2C%20Pangasinan!5e0!3m2!1sen!2sph!4v1626109525775!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="description">
                        <h3>Mangaldan</h3>
                        <p>Mangaldan, one of the oldest towns in Pangasinan, was founded in June 1600. There are three stories about how it got its name. The first suggests that a Spanish missionary asked a local for the name of the place in Spanish. The local, thinking he was asking for water, responded with "manga-alay-adan," meaning "Adan is fetching." The second version claims that the town was named after its first native chief, Babaldan. The third story involves a large mango tree in the plaza where locals quarreled over its fruits, with the quarrel referred to as "man-nga-ngal-ngalan" in the dialect. Any of these versions could explain the town's name origin.</p>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <!-- Optional: JavaScript files -->
    <script src="script.js"></script>
</body>

</html>
