<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philippine Revolution - See Pangasinan</title>
    <link rel="stylesheet" href="../src/static/css/timelineSP.css"> <!-- Assuming you have a separate CSS file -->
</head>
<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="description">
            <h2>Philippine Revolution</h2>
            <p><strong> December 27, 1897:</strong> General Emilio Aguinaldo is exiled to Hong Kong via Sual following the Pact of Biak-na-Bato. <br>
                <strong>July 22, 1898:</strong> A Katipunan board is established in Pangasinan, leading to the defeat of the remaining Spanish forces in Dagupan.<br>
                    <strong>February 5, 1899:</strong> President Emilio Aguinaldo relocates the provincial capital to San Carlos due to the Philippine-American War.<br>
                        <strong> November 20, 1899:</strong> American forces complete the conquest of Pangasinan.<br>
                            <strong>February 16, 1901:</strong> The Taft Commission establishes Pangasinan as a civil province with Lingayen as the capital.<br>
                </p>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span>See Pangasinan</span>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>
</body>
</html>
