<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BY DISTRICT > DISTRICT 1 > SUAL</title>
    <link rel="stylesheet" href="styles.css"> 
</head>

<body>
    <header>
        <h1>See Pangasinan</h1>
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map1.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>BY DISTRICT > DISTRICT 1 > SUAL</h1>

        <section id="first-district">
            <section id="sual">
                <div class="map-container" id="map-sual">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122668.26382580187!2d119.96687846237936!3d16.097463755652324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3393e75bf7b562f9%3A0x943e81ec4de08081!2sSual%2C%20Pangasinan!5e0!3m2!1sen!2sph!4v1720793661544!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="description">
                        <h3>Sual</h3>
                        <p>Found on May 20, 1805, Sual was granted separation from Labrador by Governor General Rafael Maria de Aguilar. Initially part of San Isidro Labrador de Tobuang (now called Labrador).</p>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="email-icon.png" alt="Email"></a>
                <a href="#"><img src="phone-icon.png" alt="Phone"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>

    <!-- Optional: JavaScript files -->
    <script src="script.js"></script>
</body>

</html>
