<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>See Pangasinan</title>
    <link rel="stylesheet" type="text/css" href="../src/static/css/timeline.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> 

<body>
    <header>
        <h1>See Pangasinan</h1> 
        <nav>
            <ul>
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/timeline.html">Timeline</a></li>
                <li><a href="../templates/landmarks.html">Landmarks</a></li>
                <li><a href="../templates/figures.html">Figures</a></li>
                <li><a href="../templates/heritage.html">Heritage</a></li>
                <li><a href="../templates/map.html">Map</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="timeline">
            <div class="timeline-item">
                <h2>Pre-Colonial Period</h2>
                <a href="../templates/pre-colonial.html"><img src="../src/assets/timeline/pre-colonial.jpg" alt="Pre-Colonial Image"></a>
                <p><a href="../templates/precolonial.html">Read more</a></p>
            </div>

            <div class="timeline-item">
                <h2>Spanish Colonial Period</h2>
                <a href="../templates/spanish.html"><img src="../src/assets/timeline/1572_Salcedo.jpg" alt="Spanish Colonial Image"></a>
                <p><a href="../templates/spanish.html">Read more</a></p>
            </div>

            <div class="timeline-item">
                <h2>Philippine Revolution</h2>
                <a href="../templates/ph.html"><img src="../src/assets/timeline/1998.jpg" alt="Philippine Revolution Image"></a>
                <p><a href="../templates/ph.html">Read more</a></p>
            </div>

            <div class="timeline-item">
                <h2>Japanese Occupation</h2>
                <a href="../templates/jap.html"><img src="../src/assets/timeline/1941.jpg" alt="Japanese Occupation Image"></a>
                <p><a href="../templates/jap.html">Read more</a></p>
            </div>

            <div class="timeline-item">
                <h2>Post-War Period</h2>
                <a href="../templates/postwar.html"><img src="../src/assets/timeline/1992.jpg" alt="Post-War Period Image"></a>
                <p><a href="../templates/postwar.html">Read more</a></p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>See Pangasinan</p>
                <p>Where Sun-Kissed Shores Meet Timeless Culture!</p>
            </div>
            <div class="footer-contacts">
                <p>Contacts</p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>@ See Pangasinan 2024, All rights reserved</p>
        </div>
    </footer>
</body>
</html>
